@tailwind base;
@tailwind components;
@tailwind utilities;

.transition {
  transition-duration: 0.18s;
  transition-property: all;
}

.active-press:active {
  transition-duration: none;
  box-shadow: none;
  transform: translateY(3px);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none !important;
}

.js-focus-visible :focus:not([data-focus-visible-added]) {
  outline: none !important;
}
